body {
  background: hsl(204, 43%, 93%);
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

.container {
  width: 50%;
  margin: 140px auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

span {
  font-size: 16px;
  color: hsl(179, 72%, 55%);
}

.btn {
  background: hsl(71, 73%, 54%);
  color: #f9ffff;
  max-width: 100%;
  margin-right: 26px;
}

.description {
  color: hsl(218, 22%, 67%);
}

.bottom-part h6 {
  color: #f9ffff;
}

.headline {
  color: hsl(179, 62%, 43%);
  font-size: 24px;
  font-weight: 700;
}

.sub-headline {
  color: hsl(71, 73%, 54%);
  font-size: 17px;
  font-weight: 700;
}

.top-part {
  background: #ffffff;
  padding: 35px 20px 10px 10px;
  border: 1px solid hsl(204, 43%, 93%);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.bottom-part {
  color: #f9ffff;
  background: hsl(179, 62%, 43%);
  border: 1px solid hsl(204, 43%, 93%);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.left-side {
  padding: 35px 25px 34px 54px;
}

.right-side {
  background: hsl(179, 61%, 51%);
  padding: 35px 25px 34px 54px;
}

.price {
  font-size: 35px;
}
