body {
  background: #f0f0f0;
  font-family: "Karla", sans-serif;
}

.container {
  width: 50%;
  margin: 80px auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

.top-part h3 {
  color: hsl(179, 62%, 43%);
}

.top-part {
  background: #ffffff;
  padding: 15px 20px 10px 10px;
}

.bottom-part {
  background: hsl(179, 62%, 43%);
  padding: 30px 25px 20px 20px;
}
